@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Roboto&family=Tilt+Prism&display=swap");

* {
  margin: 0;
}

body {
  background-image: url("./images/pexels-photo-4417069.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: xx-large;
  color: #fff;
  margin-top: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  color: white;
}

li a {
  display: block;
  padding: 8px;
  background-color: none;
  color: #fff;
}

figcaption {
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  position: fixed;
  bottom: 2rem;
}

.displayTitle {
  display: inline-block;
}

.nav {
  height: 2rem;
  background: clear;
  text-align: center;
}

.nav-title {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  letter-spacing: 3px;
  margin-bottom: 30px;
}

.card {
  background: clear;
  color: white;
  padding: 2rem;
  text-align: center;
  max-width: 300px;
  margin: 2rem;
  border-radius: 0.5rem;
  padding: 1rem 2rem 2rem 2rem;
  margin: 5rem auto;
  border: 1px solid white;
}

.a-link {
  color: white;
}
